
.main {
    min-height: 100%;
    width: 100%;
    font-size: larger;
}

footer {
    height: 100px;
    width: 100%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

u1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    border: 4px lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

.login {
    display: grid;
    align-content: left;
    justify-content: left;
}

.login > div {
    display: grid;
    grid-template-columns: repeat(2, 0.7fr);
    align-content: left;
    justify-content: left;
    align-items: left;
    background-color:white;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.registration {
    display: grid;
    align-content: center;
    justify-content: center;
}

.registration > div {
    display: grid;
    grid-template-columns: repeat(4, 0.7fr);
    align-content: left;
    justify-content: left;
    align-items: left;
    background-color:white;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


.nav {
    height: 28px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    background-color: black;
}

u1 {
    background-color: black;
}

.navLi {
    float: left;
}

.navItems {
    display: inline;
    text-align: left;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 10px;
}


